body {
   font-family: 'Gabriela', serif;
   background-image: url(1.png);
   color: white;
   margin: 0 auto;
}
h3 {
   font-size: 16px;
   font-weight: 400;
}
.wrap {
   padding: 0px 15px;
   display: flex;
   justify-content: center;
   flex-direction: column;
    
   width: 800px;
   height: 600px;
   /* border: 1px solid red; */
}
.results {
   display: flex;
   flex-direction: column;
}
.results h1 {
   text-transform: uppercase;
}
.results img {
   width: 300px;
   height: 300px;
}
.results > div {
   /* display: flex; */
   display: none;
   align-items: center;
}
input[type="radio"]{
   cursor: pointer;
   width: 25px;
   height: 25px;
   vertical-align: bottom;
}
.button {
   text-align: center;
}
button {
   background: #0f98d8;
   background: linear-gradient(to bottom, #0f98d8 1%,#0179b0 100%);
   box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.32);
   cursor: pointer;
   color: #fff;
   border-radius: 8px;
   font-size: 20px;
   border: none;
   font-family: 'Gabriela', serif;
   text-transform: uppercase;
   font-weight: bold;
   padding: 15px 65px;
   margin: 10px;
}
button:focus {
   outline: none;
}
button:hover {
   opacity: 0.8;
}
.ques {
   margin: 10px;
   background: rgba(0, 0, 0, 0.623);
   border-radius: 20px;
   padding: 20px 50px;
}